body {
	font-family: Helvetica, sans-serif;
	font-size: 30px;
}

#lottoNumbers {
	max-width: 470px;
	margin-left: auto;
	margin-right: auto;
}

#lottoNumbers button {
	margin-top: 15px;
	width: 100%;
	font-size: 40px;
}

#lottoNumbers ul {
	height: 50px
}

#lottoNumbers ul > div{
	text-align: center;
	font-weight: bold;
	animation: shazam 1s infinite;
	animation-fill-mode: forwards; 
	-moz-animation: shazam 1s infinite; /* Firefox */
	-moz-animation-fill-mode: forwards; 
	-webkit-animation: shazam 1s infinite; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards; 
	-o-animation: shazam 1s infinite; /* Opera */
	-o-animation-fill-mode: forwards; 
}

#lottoNumberList li {
	width: 50px;
	height: 50px;
	text-align: center;
	list-style-type: none;
	float: left;
	margin-left: 15px;
	padding-top: 5px;
	background-image: url(lotto_ball.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

@keyframes shazam
{
from {color:black;font-size: 90%}
to {color:red;font-size: 100%}
}

@-moz-keyframes shazam /* Firefox */
{
from {color:black;font-size: 90%}
to {color:red;font-size: 100%}
}

@-webkit-keyframes shazam /* Safari and Chrome */
{
from {color:black;font-size: 90%}
to {color:red;font-size: 100%}
}

@-o-keyframes shazam /* Opera */
{
from {color:black;font-size: 90%}
to {color:red;font-size: 100%}
}
